<style>
  .intake-form {
    display: flex;
    justify-content: center;
  }

  .intake-step {
    margin: 20px; /* Add some spacing between steps */
    padding: 20px;
    border: 1px solid #ccc; /* Add a border for visual separation */
  }
</style>

<h1 class="intake-form">Patient Intake</h1>

<%= form_with model: @patient do |form| %>
    <div class="intake-form">
        <div class="intake-step">
            <h2>Personal Information</h2>
            <%= form.label :first_name %>
            <%= form.text_field :first_name %> <br />
            <%= form.label :middle_name %>
            <%= form.text_field :middle_name %> <br />
            <%= form.label :last_name %>
            <%= form.text_field :last_name %> <br /> <br />
            <%= form.label :gender %>
            <%= form.select :gender, ['Male', 'Female', 'Other'] %> <br />
            <%= form.label :dob %>
            <%= form.date_field :dob %> <br />
            <%= form.label :ssn %>
            <%= form.number_field :ssn %>
        </div>

        <div class="intake-step">
            <h2>Contact Numbers</h2>
            <%= form.fields_for :contact_numbers do |contact_number_form| %>
              <%= contact_number_form.label :number %>
              <%= contact_number_form.text_field :number %> <br />
            <% end %>
        </div>

        <div class="intake-step">
          <h2> Email Addresses </h2>
          <%= form.fields_for :email_addresses do |email_address_form| %>
            <%= email_address_form.label :email %>
            <%= email_address_form.text_field :email %> <br />
          <% end %>
        </div>

        <div class="intake-step">
            <br />
            <%= form.submit %> 
        </div>
    </div>
<% end %>
</div>